.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--drop-background);
  padding-bottom: 10px;
  padding: 10px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius:20px;
  width: 100%;
  object-fit: contain;
}

.post__avatar {
  padding:10px;
}

.post__headerDescription {
  font-size: 15px;
  margin-bottom: 10px;
  
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--drop-background);
}

.post__badge{
  font-size: 16px !important;
  color: var(--drop-color) ;
}

.post__headerSpecial {
  font-size: 14px;
  color: #adadad;
  font-weight: 400;
}

.post__footerReply {
  padding-top:5px;
  padding-left: 5px;
  padding-right: 5px;
}

.post__footerReply:hover {
  background-color: #eafee8;
  border-radius:10px;
  color: var(--drop-color);
  transition: color 200ms ease-out;
}

.post__footerRedrop {
  padding-top:5px;
  padding-left: 5px;
  padding-right: 5px;
}

.post__footerRedrop:hover {
  background-color: #eafee8;
  border-radius:10px;
  color: var(--drop-color);
  transition: color 200ms ease-out;
}

.post__footerLike {
  padding-top:5px;
  padding-left: 5px;
  padding-right: 5px;
}

.post__footerLike:hover {
  background-color: #eafee8;
  border-radius:10px;
  color: var(--drop-color);
  transition: color 200ms ease-out;
}

.post__footerShare {
  padding-top:5px;
  padding-left: 5px;
  padding-right: 5px;
}

.post__footerShare:hover {
  background-color: #eafee8;
  border-radius:10px;
  color: var(--drop-color);
  transition: color 200ms ease-out;
}